


<style>
table, th, td {
    border: 1px solid black;
    align : left;
}
</style>






<!DOC TYPE html>
<html>
<head>
<title>Searched NGO</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

</head>
<body> 

 	  
 	      
 	        
 	        		
 	        		<div class="form-group form-group-lg">
 	       	    <form action="/search" method="get">
 	       	    <div class="col-sm-10">
 	       	     	<input type="text" class="form-control" id="focusedInput" placeholder="NGO search here ..." name="q" onblur="if (this.value == 'NGO search here ...') {this.value = '';}">
 	       	       </div>	
 	       	     	<input type="submit" class="btn btn-default" value="Search"><br>
 	       	    
 	       	     </form>                
 	       </div>



	<div class="container">
	  	 
	  	 	  
	  	 	  
	  	 	  	    <div class="col-md-8 job-column">
	  	 	  	    
	  	 	  	    	{% if page.object_list %}
	  	 	  	    	<div class="jobs-main">
	  	 	 	 <div class="job-top">
	  	 	  	    <div class="col-md-8 job-left">
	  	 	  	  	     <h4> <b>Top Results below : </b></h4>
	  	 	  	     </div>
	  	 	  	   <div class="clearfix"> </div>
	  	 	  </div>
	  	 	 
							<table class="table table-striped">
								<col align="left">
								<col align="right">
								<thead>
								
								<tr>
								
									<th>Name</th>
									<th>Achievements</th>
								<th>State</th>
									
									
								</tr>
							
								</thead>

								{% for result in page.object_list %} {% if result.object.Website_Url %}
								

								<tr >
									<td><a href="{{ result.object.Website_Url }}">{% if result.object.NGO_Name %}{{result.object.NGO_Name }}{% else %}{{""}}{% endif%}</a>
									<td>{{ result.object.Major_Activities_Achievements|slice:"0:45"|add:"..." }}</td>
									</td>

									<td>{{result.object.State}}</td>
								</tr>
								
								{% endif %} {% empty %}
								<p>No results found.</p>
								{% endfor %}
							</table>
							{% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
		{% else %}
		 <h4> <b>Opps Nothing found </b></h4>
	  	 	 {% endif %}	    	
	   	 	  	    </div>
	  	 	  	    <div class="clearfix"> </div>
	  	 	  </div>
	  	 </div>
	  </div>

            